!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Find a playmate for your dog</h1>
  <div data-ng-app="boneApp">
    <div data-ng-controller="boneCtrl">
      <div data-ng-controller="boneCtrl" data-ng-init="index()">
        <label>Dog Match:</label></br>
        <input type="text" data-ng-model="newNote.noteBody"/>
        <button data-ng-click="startMatch()">Get Started</button>
      </br>
    </br>

    </div>
  </div>
</div>

<script src="client_bundle.js"></script>
</body>
</html>
